/* To indicate that a general type of error, for example a user has had an error while attempting to login in.*/
.error {
    color: #ff0000;
    text-align:center;
}

/* To indicate that a general type of success. */
.success {
    color: #00ff00;
    text-align:center;
}

/*to indicate a general informational message*/
.info{
    color: #00ff00;
    text-align:center;
}